/* Basic styles for navbar */

.navbar {
    display:flex;
    /* align-items: ; */
    justify-content: space-between;
    background-color: #006633;
    overflow: hidden;
    color:#ffcc33;
  }
  h1{
    margin-left:10px;
  }
  /* Style the links inside the navbar */
  .links a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin:10px;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  